# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn
3. Tensorflow
4. Pandasas

|Data Science Tools|
|--|
|Git|
|MySQL|
|Microsoft Power BI|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print(200/60, "hours")

3.3333333333333335 hours

## Author
Samuel Rodrigues